@import './variables.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-light);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

* {
  box-sizing: border-box;
}

.btn-card {
    background-color: var(--color-primary) !important;
    color: var(--color-light) !important;
    border: none !important;
    border-radius: 5px;

}

.btn-card:hover,
.btn-card:focus,
.btn-card:active {
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important; 
    box-shadow: none !important;
}