.contacto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-form {
    background-color: var(--color-primary) !important;
    color: var(--color-light) !important;
    border: none !important;
    border-radius: 5px;
    width: 100%;
}

.btn-form:hover,
.btn-form:focus,
.btn-form:active {
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important; 
    box-shadow: none !important;
}

p{
    text-align: justify;
}

@media (max-width: 970px) {
    .col-imagen-contacto {
        display: none !important;
    }

    .col-md-6 {
        width: 100%;
    }
}