.carousel-container {
    width: 100%;           
    max-width: 100vw;         
    margin: 0 auto;
    padding: 0; 
}

.carousel-img {
    width: 100%;               
    object-fit: cover;     
    object-position: center;
    background-color: #FFF;
    transition: height 0.3s ease;
}

.carousel-indicators {
    display: none;
}
