.carousel-container {
    width: 100%;           
    max-width: 100vw;         
    margin: 0 auto;
    padding: 0; 
}

.carousel-item,
.carousel-img {
    width: 100%;
    height: 80vh; 
    object-fit: cover;
    object-position: center;
    background-color: #fff;
}

@media (max-width: 768px) {
    .carousel-item,
    .carousel-img {
        height: 90vh;
    }
}

.carousel-indicators {
    display: none;
}
