.carousel-container {
    width: 100%;           
    max-width: 100vw;         
    margin: 0 auto;
    padding: 0; 
}

.carousel-img {
    width: 100%;              
    height: 60vh;             
    object-fit: cover;     
    object-position: center;
    background-color: #FFF;
}

.carousel-indicators {
    display: none;
}

@media (max-width: 768px) {
    .carousel-img {
        height: 35vh;
    }
}