.navbar {
  background-color: var(--color-primary);
  padding: 1rem;
}

.brand {
  font-weight: 700;
  color: var(--color-light);
}

.link {
  color: var(--color-light);
  margin-right: 1rem;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-secondary);
}

.button {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-radius: 5px;
  border: none;
}

.button:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
  transform: scale(1.05);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff0f3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}