header {
    font-family: "Nerko One", cursive;
    background-color: var(--color-light);
    color: var(--color-primary);
}

.title-header {
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}