.footer {
  background-color: var(--color-light);
  padding-top: 1rem;
  border-top: 1px solid var(--color-primary);
}

h3 {
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
}

.list{
  list-style-type: none;
}

.link, .email{
  color: var(--color-primary);
  margin-right: 1rem;
  transition: color 0.2s ease;
  text-decoration: none;
}

.link:hover, .email:hover, .font-icon:hover {
  color: var(--color-secondary);
}

.footer-section{
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .footer-section h3{
    text-align: center;
  }

  .footer-section {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

}