.img-card{
    width: 100%;               
    object-fit: contain;     
    height: 250px;
    background-color: #FFF;
}

.btn-card {
    background-color: var(--color-primary) !important;
    color: var(--color-light) !important;
    border: none !important;
    border-radius: 5px;
    width: 100%;
}

.btn-card:hover,
.btn-card:focus,
.btn-card:active {
    background-color: var(--color-primary) !important;
    color: var(--color-secondary) !important; 
    box-shadow: none !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn-card {
    margin-top: auto;
}

.card-title, .card-text{
    text-align: center;
}

.card-title{
    color: var(--color-primary);
    line-height: 1.5;
}
