.img-card{
    width: 100%;               
    object-fit: contain;     
    height: 250px;
    background-color: #FFF;
}


.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn-card {
    margin-top: auto;
}

.card-title, .card-text{
    text-align: center;
}

.card-title{
    color: var(--color-primary);
    line-height: 1.5;
}
