.banner {
    position: relative;
    width: 110%;
    margin-left: -5%;
    height: 350px;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.7); 
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    color: white;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.banner-text {
    font-size: 3.0rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-light);
    margin: 20px;
}

@media (max-width: 576px) {
    .banner-text {
        font-size: 3.0rem;
    }
}
